# IDE
.vscode/
.idea/
venv/

# Cache
**/__pycache__/**
.testmondata

# Dataset
**/DATASET/**
DATASET

# Logging file
**/experiment/**
**/lightning_logs/**
**/wandb/**

# Models
*.pt
*.onnx
*.ckpt
*.pth
*.zip

# Jupyter notebooks
*.ipynb

# wandb sweep
**/sweep.yaml
sweep.yaml

