# IDE
.vscode/
.idea/

# Cache
**/__pycache__/**

# Dataset
**/data/**
data

# Logging file
**/experiments/**
**/lightning_logs/**
**/wandb/**

# Models
*.pt
*.onnx
*.ckpt
*pth
*zip

# Jupyter notebooks
*.ipynb

# TEST
*test*

